
.nav__list {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav__link {
  color: white;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.nav__link:hover {
  background-color: var(--color-secondary);
}

.nav__item--active {
    background-color: var(--color-dark);
    border-radius: 5px;
}